<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dept" class="com.bjpowernode.bean.Dept">
        <property name="id" value="10"/>
        <property name="dname" value="研发部"/>
    </bean>
    <bean id="emp" class="com.bjpowernode.bean.Emp">
        <property name="id" value="1001"/>
        <property name="ename" value="张三"/>
        <property name="dept" ref="dept"/>
    </bean>
</beans>