<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.dao.DeptDao">

    <select id="select" resultType="com.bjpowernode.entity.Dept">
        select deptno, dname, loc from dept order by deptno
    </select>

    <select id="selectById" parameterType="int" resultType="com.bjpowernode.entity.Dept">
        select deptno, dname, loc from dept where deptno=#{deptno}
    </select>

    <insert id="insert" parameterType="com.bjpowernode.entity.Dept">
        insert into dept(dname, loc) values(#{dname}, #{loc})
    </insert>

    <update id="update" parameterType="com.bjpowernode.entity.Dept">
        update dept set dname=#{dname}, loc=#{loc} where deptno=#{deptno}
    </update>

    <delete id="delete" parameterType="int">
        delete from dept where deptno=#{deptno}
    </delete>
</mapper>